<div class="app-container-frame">
  @switch (currentStep()) {
    @case (0) {
      <app-welcome (start)="nextStep()"></app-welcome>
    }
    @case (1) {
      <app-step-availability (next)="nextStep()" (back)="prevStep()"></app-step-availability>
    }
    @case (2) {
      <app-step-time (next)="nextStep()" (back)="prevStep()"></app-step-time>
    }
    @case (3) {
      <app-step-activities (next)="nextStep()" (back)="prevStep()"></app-step-activities>
    }
    @case (4) {
      <app-step-food (next)="nextStep()" (back)="prevStep()"></app-step-food>
    }
    @case (5) {
      <app-step-notes (next)="nextStep()" (back)="prevStep()"></app-step-notes>
    }
    @case (6) {
      <app-result (restart)="goToStep(0)"></app-result>
    }
  }
</div>
